<fieldset>
  <p>
    <%= f.label :view, "View:" %>
			<%= check_box_tag "fake_tag", "view", @committership.viewer?, :disabled => 'disabled', :checked => 'checked' -%>
			<%= hidden_field_tag "permissions[]", "view" -%>
  </p>
  <p>
    <%= f.label :review, "Review:" %>
    <%= check_box_tag "permissions[]", "review", @committership.reviewer? %>
  </p>
  <p>
    <%= f.label :commit, "Commit:" %>
    <%= check_box_tag "permissions[]", "commit", @committership.committer? %>
  </p>
  <p>
    <%= f.label :admin, "Administrate:" %>
    <%= check_box_tag "permissions[]", "admin", @committership.admin? %>
  </p>
</fieldset>

